<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0 user-scalable=yes"/>
	<title>医患沟通</title>
	<link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./static/css/index.css">

	<script type="text/javascript" src="./static/js/require.js"></script>
	<script type="text/javascript" src="./static/js/main.js"></script>
	<script type="text/javascript" src="./static/js/resource.js"></script>
</head>
<body ms-controller="test">
	<div class="container"  id="questionCon">
		

	</div>
	
	<script type="text/html" id="test">
	{{each d as v i}}
		{{if i ==0}}
			<div class="spacer10"></div>
		{{/if}}
		{{if v.message.day}}
					<div class="text-center">
						<span class="titleBg">{{v.message.day | dateFormat:'yyyy年 MM月 dd日 hh:mm:ss'}}</span>
					</div>
					<div class="panel panel-default my-panel">
					  <div class="panel-body">
					  	<div class="h5" style="margin-top:0px;">{{v.message.title}}</div>
					  	<span>{{v.message.day | dateFormat:'yyyy年 MM月 dd日 hh:mm:ss'}}</span>
					  	<div class=" my-imgcon">
					  		{{each v.message.pics as vv j}}
					  		<div class="col-xs-6">
					  			<img src={{vv}}>
					  		</div>
					  		{{/each}}
					  	</div>
					  	<div>
					  		<span>[{{v.message.speaker}}] {{v.message.content}}</span>
					  	</div>
					  	<div class="my-line"></div>
					  	<div>
					  		<a href="question.html?session_id={{v.id}}">
			  			  		<span class="h5">阅读全文  </span>
			  					<span class="right glyphicon glyphicon-chevron-right gray_arrow"></span>
					  		</a>
					 	</div>
					  </div>
					</div>
		{{else}}
		<div>
			<div class="text-center">
				<span class="titleBg">{{v.day | dateFormat:'yyyy年 MM月 dd日 hh:mm:ss'}}</span>
			</div>
			<div class="panel panel-default my-panel">
			  <div class="panel-body">
			  	<div class="h5" style="margin-top:0px;">{{v.title}}</div>
			  	<div>
			  		<span>{{v.message}}</span>
			  	</div>
			  </div>
			</div>
		</div>
			
		{{/if}}

		{{/each}}

	</script>
	<script type="text/html" id="nav">
		<nav class="navbar navbar-default navbar-fixed-bottom my-nav my-nav-bottom">
		  <div class="container text-center" style="height: 42px; line-height: 42px;">
		    <div class="row">
		    	<div class="col-xs-12">
		    		<a href="javascript:void(0)" id="askDoctor">
				    	<span style="color:#fff;">询问医生</span>
				    </a>
		    	</div>
		    </div>
		  </div>
		</nav>
	</script>
	<script type="text/javascript">
		require(["template","store"],function(template,store){
			template.helper('dateFormat', RC["dateFormat"]);
			var data = {},user = store.get("user");
			if(user.type == "sick"){
				url = "/answer/session?sick_id="+user.id;
				sickurl = "/sick/info?id="+user.id;
				 var html = render($("#nav"),"");
				 //输入模板
				 $("body").append(html);
			}
			if(user.type =="doctor"){
				url = "/answer/session?doctor_id="+user.id;
			}
			function render(dom,data){
				var dd = data;

				var tpl = dom.html();
				var render = template.compile(tpl);
				
				//匹配json内容
			    var html = render(dd);
			    return html;
			}
			
			$.ajax({ 
				type:"get",
				url: url,
				dataType: "json", 
				success: function(obj){
					data.d= obj.content;
					var pics  = [];
					for(var i=0;i<obj.content.length;i++){
						var co = obj.content[i];
						if(co.message && (typeof co.message) == "object"){
							if(co.message.pics){
							pics = co.message.pics.split(",");
							co.message.pics = pics;
							}
						}
					}
					//var dd = $.extend(data,obj.content);
					//匹配json内容
				    var html = render($("#test"),data);
				    //输入模板
				    $("#questionCon").html(html);
	    		},
	    		error:function(){

	    		}
			}); 
		 	$("#askDoctor").on("touchstart",function(){
		 		var params = "",temp = RC.parseOptions(window.location.href);
		 		if(temp.doctor_id){
		 			params = "?doctor_id="+temp.doctor_id;
		 		}else if(temp.id){
		 			params = "?id="+temp.id;
		 		}

		    	$(this).attr("href","askDoctor.html"+params);
		    })
		});

	</script>
</body>
</html>